.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: -20px; */
  z-index: 5;
  box-shadow: 0 2px 4px rgba(14, 13, 13, 0.5);
  min-height: 60px;
}
a {
  text-decoration: none;
}
span {
  top: -50%;
  right: -34%;
  background-color: rgb(225 216 216);
  border-radius: 50%;
  padding: 0px 5px;
  color: #970b0f;
  font-weight: bold;
}

.active_link {
  color: #970b0f !important;
}
